<div class="border-top d-flex py-3 justify-content-center" id="footer">
	<div class="mx-1">
		<p class="m-0">Engineered with Love</p>
	</div>

	<div class="mx-1">
		<a href="https://www.mariannedillard.com" target="__blank">
			<img
				src="assets/heart-icon.png"
				alt="red-heart-icon"
				style="width: 20px"
				id="heart-icon"
			/>
		</a>
	</div>

	<div class="mx-1">
		<a href="https://www.github.com/dillardm89" target="__blank">
			<img
				src="assets/github-icon.png"
				alt="github-icon"
				style="width: 20px"
				id="github-icon"
			/>
		</a>
	</div>
</div>
