<div id="chassis-builder">
	<h4 class="text-center pb-3">Select Vehicle Details</h4>
	<div id="vehicle-details-select" class="container mb-3">
		<div class="row mb-3" id="vehicle-year-div">
			<div class="col-3 text-start">
				<label for="vehicle-year" class="col-form-label">Year: </label>
			</div>
			<div class="col-9">
				<input
					type="text"
					id="vehicle-year"
					class="form-control"
					value="2024"
				/>
			</div>
		</div>

		<div class="row mb-3" id="vehicle-make-div">
			<div class="col-3 text-start">
				<label for="vehicle-make" class="col-form-label">Make: </label>
			</div>
			<div class="col-9">
				<input
					type="text"
					id="vehicle-make"
					class="form-control"
					value="Honda"
				/>
			</div>
		</div>

		<div class="row mb-3" id="vehicle-model-div">
			<div class="col-3 text-start">
				<label for="vehicle-model" class="col-form-label">Model: </label>
			</div>
			<div class="col-9">
				<input
					type="text"
					id="vehicle-model"
					class="form-control"
					value="Accord"
				/>
			</div>
		</div>

		<div class="row" id="vehicle-color-div">
			<div class="col-3 text-start">
				<label for="vehicle-color" class="col-form-label">Color: </label>
			</div>
			<div class="col-9">
				<input
					type="text"
					id="vehicle-color"
					class="form-control"
					value="White"
				/>
			</div>
		</div>
	</div>

	<div id="vehicle-type-select">
		<h4 class="text-center pb-3">Select Vehicle Type</h4>

		<ul class="text-center">
			<div class="row pb-3">
				<div class="col-3 vehicle-type" id="motorcycle">
					<li class="card vehicle-li">
						<p class="m-0 card-body">Motorcycle</p>
					</li>
				</div>
				<div class="col-3 vehicle-type" id="car">
					<li class="card vehicle-li active">
						<p class="m-0 card-body">Car</p>
					</li>
				</div>
				<div class="col-3 vehicle-type" id="suv">
					<li class="card vehicle-li">
						<p class="m-0 card-body">SUV</p>
					</li>
				</div>
				<div class="col-3 vehicle-type" id="van">
					<li class="card vehicle-li">
						<p class="m-0 card-body">Van</p>
					</li>
				</div>
			</div>
			<div class="row">
				<div class="col-3 vehicle-type" id="truck">
					<li class="card vehicle-li">
						<p class="m-0 card-body">Truck</p>
					</li>
				</div>
				<div class="col-3 vehicle-type" id="semi-truck">
					<li class="card vehicle-li">
						<p class="m-0 card-body">Semi-Truck</p>
					</li>
				</div>
				<div class="col-3 vehicle-type" id="bus">
					<li class="card vehicle-li">
						<p class="m-0 card-body">Bus</p>
					</li>
				</div>
			</div>
		</ul>
	</div>
</div>
