<div id="engine-builder">
	<h4 class="text-center pb-3">Select Engine Options</h4>

	<div
		class="row pb-3 justify-content-start text-center"
		id="transmission-select"
	>
		<div class="col-4">
			<div class="card form-label">
				<p class="m-0 card-body">Select Transmission Type:</p>
			</div>
		</div>

		<div class="col-4 transmission-type" id="automatic">
			<div class="card transmission-div active">
				<p class="m-0 card-body">Automatic</p>
			</div>
		</div>

		<div class="col-4 transmission-type" id="manual">
			<div class="card transmission-div">
				<p class="m-0 card-body">Manual</p>
			</div>
		</div>
	</div>

	<div
		class="row pb-3 justify-content-start text-center"
		id="fuel-select"
	></div>

	<div
		class="row pb-3 justify-content-start text-center"
		id="engine-size-select"
	></div>
</div>
