<div class="card-body window-details-div p-1">
	<h5>Enter Window Details</h5>
	<div class="row mb-2" id="window-name-div">
		<div class="col-7 text-start">
			<label for="window-name" class="col-form-label">Name: </label>
		</div>
		<div class="col-5">
			<input type="text" id="window-name" class="form-control" />
		</div>
	</div>

	<div class="row mb-2" id="window-operation-div">
		<div class="col-7 text-start">
			<p class="m-0 p-0 col-form-label">Operation Type:</p>
			<p class="m-0 small text-muted">(to Open / Close)</p>
		</div>
		<div class="col-5">
			<select class="form-select" id="operation-type">
				<option selected value="none">None</option>
				<option value="manual">Manual</option>
				<option value="electric">Electric</option>
			</select>
		</div>
	</div>
</div>
